main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    box-sizing: border-box;

    .content-inner {
        width: 50%;
    }

    .toc {
        width: 20vw;
        margin-left: 2rem;
        position: sticky;
        top: 6rem;
        align-self: flex-start;
        max-height: calc(100vh - 6rem);
        overflow-y: auto;
        padding-right: 1rem;

        a {
            display: block;
            margin-bottom: 0.5rem;
            color: #03a8f9;
            text-decoration: none;
        }

        a:hover, a:focus {
            text-decoration: underline;
        }
    }
}
