main {
    grid-area: main;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    box-sizing: border-box;
    overflow: scroll;
    max-height: 100%;

    article {
        max-width: 75%;
    }

    .toc {
        width: 20%;
        margin-left: 2rem;
        position: sticky;
        align-self: flex-start;
        max-height: calc(100vh - 6rem);
        overflow-y: auto;
        border: 1px solid #444;
        border-radius: 0.25rem;
        background: #1e1e1e;
        max-width: max-content;
        min-width: max-content;

        ul {
            padding: 1rem;
            margin: 0;
            list-style-position: inside;

            li {
                margin: 0.5rem;
            }

            a {
                margin: 0;
            }
        }

        a {
            display: block;
            margin-bottom: 0.5rem;
            color: #03a8f9;
            text-decoration: none;
        }

        a:hover, a:focus {
            text-decoration: underline;
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
        padding: 1rem;
        justify-content: start;
        max-width: calc(100vw - 2rem);

        .article {
            width: 100%;
        }

        .toc {
            max-width: calc(100% - 2rem);
            margin: 1rem 0 0 0;
            max-height: none;
            padding-right: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            align-self: center;
        }
    }
}
