nav {
    grid-area: nav;
    background-color: var(--header-background-color);
    padding: 2rem;
    box-sizing: border-box;
    border-right: 1px solid var(--border-color);
    overflow-y: auto;
    max-width: 30vw;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        ul {
            margin-left: 1rem;
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
            border-left: 2px solid var(--border-color);
            padding-left: 0.5rem;
        }

        li {
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
            position: relative;
        }

        li:last-child {
            margin-bottom: 0;
        }
    }

    a {
        display: block;
        padding: 0.4rem 0.8rem;
        border-radius: 0.25rem;
        text-decoration: none;
    }

    a:hover,
    a:focus {
        outline: 1px solid var(--accent-color);
        color: var(--text-color);
    }

    a:hover[href^="http"]::after {
        background-color: var(--text-color);
    }

    .current {
        font-weight: bold;
        color: var(--text-color);
        outline: 1px solid var(--accent-color);
    }

    .separator {
        border-bottom: 1px solid var(--border-color);
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        pointer-events: none;
        height: 0;
        max-height: 0;
        overflow: hidden;
        user-select: none;
    }
}
