nav {
    grid-area: nav;
    background-color: var(--header-background-color);
    padding: 2rem;
    box-sizing: border-box;
    border-right: 1px solid var(--border-color);
    overflow-y: auto;
    max-width: 30vw;

    a {
        display: block;
        padding: 0.4rem 0.8rem;
        border-radius: 0.25rem;
        transition: background 0.2s, color 0.2s;
        text-decoration: none;
    }

    a:hover,
    a:focus {
        background: var(--accent-color);
        color: var(--text-color);
    }

    a:hover[href^="http"]::after {
        background-color: var(--text-color)
    }

    .current {
        font-weight: bold;
        color: var(--text-color);
        background: var(--accent-color);
    }

    .separator {
        border-bottom: 1px solid var(--border-color);
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        pointer-events: none;
        height: 0;
        max-height: 0;
        overflow: hidden;
        user-select: none;
    }
}
