:root {
    --code-background-color: var(--secondary-background-color);
    --code-text-color: var(--text-color);

    @font-face {
        font-family: Adwaita-Mono;
        src: url(/assets/fonts/adwaita/mono/AdwaitaMono-Regular.ttf);
        font-style: normal;
        font-weight: normal;
        font-display: swap;
    }
    @font-face {
        font-family: Adwaita-Mono;
        src: url(/assets/fonts/adwaita/mono/AdwaitaMono-Italic.ttf);
        font-style: italic;
        font-weight: normal;
        font-display: swap;
    }
    @font-face {
        font-family: Adwaita-Mono;
        src: url(/assets/fonts/adwaita/mono/AdwaitaMono-Bold.ttf);
        font-style: normal;
        font-weight: bold;
        font-display: swap;
    }
    @font-face {
        font-family: Adwaita-Mono;
        src: url(/assets/fonts/adwaita/mono/AdwaitaMono-BoldItalic.ttf);
        font-style: italic;
        font-weight: bold;
        font-display: swap;
    }
}

code {
    font-family: Adwaita-Mono, monospace;
    hyphens: manual;
    white-space: pre-wrap;
    background-color: var(--code-background-color);
    color: var(--code-text-color);
    border-radius: var(--border-radius);
    font-size: 0.9rem;
    padding: 0.05rem 0.2rem;
}

div.sourceCode {
    position: relative;
    background-color: var(--code-background-color);
    color: var(--code-text-color);
    padding: 1rem;
    border-radius: var(--border-radius);
    font-size: 0.9rem;

    code {
        padding: 0;
    }

    pre {
        margin: 0;
        padding: 0;
        overflow: auto;
    }

    .copy-btn {
        position: absolute;
        top: 8px;
        right: 8px;
        padding: 2px;
        cursor: pointer;
        background: var(--code-background-color);
        border: none;
        width: 1rem;
        height: 1rem;

        opacity: 0;
        transition: opacity 0.2s, background-color 0.2s;

        background-size: 100%;
        background-color: var(--text-color);
        -webkit-mask: url('/assets/icons/copy-symbolic.svg') no-repeat center / 100%;
        mask: url('/assets/icons/copy-symbolic.svg') no-repeat center / 100%;
    }

    .copy-btn.copied {
        background-color: var(--accent-color);
        animation: wiggle 0.5s ease;

        @keyframes wiggle {
            0% {
                transform: rotate(0deg);
            }
            25% {
                transform: rotate(20deg);
            }
            75% {
                transform: rotate(-20deg);
            }
            100% {
                transform: rotate(0deg);
            }
        }
    }
}

.sourceCode:hover .copy-btn {
    opacity: 1;
}
