:root {
    --code-background-color: var(--secondary-background-color);
    --code-text-color: var(--text-color);

    @font-face {
        font-family: Adwaita-Mono;
        src: url(/assets/fonts/adwaita/mono/AdwaitaMono-Regular.ttf);
        font-style: normal;
        font-weight: normal;
    }
    @font-face {
        font-family: Adwaita-Mono;
        src: url(/assets/fonts/adwaita/mono/AdwaitaMono-Italic.ttf);
        font-style: italic;
        font-weight: normal;
    }
    @font-face {
        font-family: Adwaita-Mono;
        src: url(/assets/fonts/adwaita/mono/AdwaitaMono-Bold.ttf);
        font-style: normal;
        font-weight: bold;
    }
    @font-face {
        font-family: Adwaita-Mono;
        src: url(/assets/fonts/adwaita/mono/AdwaitaMono-BoldItalic.ttf);
        font-style: italic;
        font-weight: bold;
    }
}

code {
    font-family: Adwaita-Mono;
    hyphens: manual;
    white-space: pre-wrap;
    background-color: var(--code-background-color);
    color: var(--code-text-color);
    border-radius: var(--border-radius);
    font-size: 0.9rem;
    padding: 0.05rem 0.2rem;
}

div.sourceCode {
    position: relative;
    background-color: var(--code-background-color);
    color: var(--code-text-color);
    padding: 1rem;
    border-radius: var(--border-radius);
    font-size: 0.9rem;

    code {
        padding: 0;
    }

    pre {
        margin: 0;
        padding: 0;
        overflow: auto;
    }

    .copy-btn {
        position: absolute;
        top: 0.3em;
        right: 0.3em;
        padding: 0.2em 0.5em;
        font-size: 0.8em;
        cursor: pointer;
        background: var(--code-background-color);
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius);
        color: var(--code-text-color);

        opacity: 0;
        transition: opacity 0.2s;
    }
}

.sourceCode:hover .copy-btn {
    opacity: 1;
}
