@use "_header";
@use "_nav";
@use "_main";
@use "_footer";

:root {
    --background-color: #121212;
    --header-background-color: #222222;
    --border-color: #444;
    --text-color: #EEEEEE;
    --footer-text-color: #999999;

    --header-height: 4rem;

    height: 100%;

    @media (prefers-color-scheme: light) {
        --background-color: #EEEEEE;
        --header-background-color: #E9E9E9;
        --border-color: #AAA;
        --text-color: #222222;
        --footer-text-color: #555555;
    }
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: grid;
    grid-template-areas:
      "header header"
      "nav main"
      "footer main";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
    max-height: 100%;
    overflow-y: hidden;
}

@media (max-width: 768px) {
    body {
        grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content auto min-content;
        overflow-y: scroll;
    }

    #nav-toggle:checked ~ nav {
        display: block;
        height: max-content;
        max-height: 100vh;
        overflow: hidden;
        padding: 2rem;
        border-bottom: 1px solid var(--border-color);
        transition: max-height 0.3s linear, padding 0s linear;
    }

    #nav-toggle:not(:checked) ~ nav {
        max-height: 0;
        padding: 0;
        transition: max-height 0.3s linear, padding 0s linear 0.3s;
    }

    nav {
        max-width: 100%;
        width: 100%;
        border-right: none;
        max-height: 0;
        padding: 0;
        overflow: hidden;
    }
}

.button {
    border: none;
    padding: 0.3rem;
    margin: 0.3rem;
    cursor: pointer;
    border-radius: 0.25rem;
}

a {
    color: var(--accent-color);
}

a[href^="http"]::after {
    content: "";
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.25em;

    background-size: 100%;
    background-color: var(--accent-color);
    -webkit-mask: url('/assets/font-awesome/arrow-up-right-from-square.svg') no-repeat center / 100%;
    mask: url('/assets/font-awesome/arrow-up-right-from-square.svg') no-repeat center / 100%;
}

figcaption {
    color: var(--footer-text-color);
}
