@use "_header";
@use "_nav";
@use "_main";
@use "_footer";

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ddd;
    display: grid;
    grid-template-areas:
    "header header"
    "nav main"
    "footer main";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
}

@media (max-width: 768px) {
    body {
        grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content auto min-content;
    }

    #nav-toggle:checked ~ nav {
        display: block;
        height: max-content;
        max-height: 100vh;
        overflow: hidden;
        padding: 2rem;
        border-bottom: 1px solid #444;
        transition: max-height 0.3s linear, padding 0s linear;
    }

    #nav-toggle:not(:checked) ~ nav {
        max-height: 0;
        padding: 0;
        transition: max-height 0.3s linear, padding 0s linear 0.3s;
    }

    nav {
        max-width: 100%;
        width: 100%;
        border-right: none;
        max-height: 0;
        padding: 0;
        overflow: hidden;
    }
}

.button {
    border: none;
    padding: 0.3rem;
    margin: 0.3rem;
    cursor: pointer;
    border-radius: 0.25rem;
}
