@use "_header";
@use "_nav";
@use "_main";
@use "_footer";

:root {
    --background-color: #121212;
    --header-background-color: #1e1e1e;
    --border-color: #444;
    --text-color: #DDDDDD;
    --footer-text-color: #888888;

    --header-height: 4rem;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: grid;
    grid-template-areas:
      "header header"
      "nav main"
      "footer main";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    position: sticky;
    top: 0;
    z-index: 60;
}

nav {
    position: sticky;
    top: 4rem;
    z-index: 50;
}

footer {
    position: sticky;
    bottom: 0;
    z-index: 60;
}

@media (max-width: 768px) {
    body {
        grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content auto min-content;
    }

    #nav-toggle:checked ~ nav {
        display: block;
        height: max-content;
        max-height: 100vh;
        overflow: hidden;
        padding: 2rem;
        border-bottom: 1px solid var(--border-color);
        transition: max-height 0.3s linear, padding 0s linear;
    }

    #nav-toggle:not(:checked) ~ nav {
        max-height: 0;
        padding: 0;
        transition: max-height 0.3s linear, padding 0s linear 0.3s;
    }

    nav {
        max-width: 100%;
        width: 100%;
        border-right: none;
        max-height: 0;
        padding: 0;
        overflow: hidden;
    }
}

.button {
    border: none;
    padding: 0.3rem;
    margin: 0.3rem;
    cursor: pointer;
    border-radius: 0.25rem;
}

a {
    color: var(--accent-color);
}

a[href^="http"]::after {
    content: "";
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.25em;

    background-size: 100%;
    background-color: var(--accent-color);
    -webkit-mask: url('/assets/font-awesome/arrow-up-right-from-square.svg') no-repeat center / 100%;
    mask: url('/assets/font-awesome/arrow-up-right-from-square.svg') no-repeat center / 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;

    ul {
        margin-left: 1rem;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        border-left: 2px solid var(--border-color);
        padding-left: 0.5rem;
    }

    li {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        position: relative;
    }

    li:last-child {
        margin-bottom: 0;
    }
}
