.table-wrapper {
    overflow-x: scroll;
}

table {
    border-collapse: collapse;
    margin-top: 1rem;
    margin-bottom: 1rem;

    th,
    td {
        padding: 0.5rem;
        text-align: left;
        border: 1px solid var(--border-color);
    }

    th {
        background-color: var(--secondary-background-color);
        font-weight: bold;
    }
}
